:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #0000F5;
}
.button:hover {
  opacity: 0.7;
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: translateX(0%) !important;
}
.slide-title {
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  transition: 0.3s;
  align-items: flex-start;
  font-weight: 500;
  border-color: transparent;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-bottom-width: 2px;
}
.slide-title:hover {
  opacity: 0.5;
  border-color: var(--dl-color-gray-white);
}
.banner {
  cursor: pointer;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  border-width: 0px;
  flex-direction: row;
  background-color: #0000F5;
}
.banner-smaller {
  width: 620px;
  height: 460px;
}
.swiper-pagination {
  cursor: grab;
  z-index: 10;
  list-style: none;
  text-align: center;
}
.swiper-pagination-bullet {
  width: 12px;
  cursor: pointer;
  height: 12px;
  display: inline-block;
  transition: width .25s ease;
  border-radius: 12px;
  background-color: ef9911;
}
.swiper-pagination-bullet-active {
  width: 45px;
  opacity: 1 !important;
}
.objective {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 280px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.value {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.accordion {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.accordion-content {
  color: #7C7C80;
  width: 100%;
  display: none;
  max-width: 560px;
  line-height: 24px;
}
.accordion-active {
  display: flex;
}



.blaze-track {
  cursor: grabbing;
}


.slider {
  -slides-to-show: 3;
}

.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 991px) {
  .banner {
    flex-direction: column;
  }
  .swiper-pagination-bullet {
    opacity: 0.5;
    background-color: #ffffff;
  }
  .objective {
    flex: 1;
  }
  .accordion {
    gap: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .accordion-content {
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .objective {
    gap: var(--dl-space-space-unit);
    max-width: 100%;
  }
  .value {
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .button {
    width: 100%;
  }
}


.home-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #0a0a0a;
  }
  .home-navbar {
    top: 0px;
    left: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    z-index: 1000;
    position: absolute;
    align-items: center;
    justify-content: space-between;
  }
  .home-text {
    color: var(--dl-color-gray-white);
    font-family: Noto Sans Mono;
    padding-top: var(--dl-space-space-twounits);
  }
  .home-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    box-shadow: 5px -5px 10px 0px #000000;
    align-items: center;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
    justify-content: flex-start;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.00%,rgb(0, 0, 0) 100.00%);
  }
  .home-video {
    top: 0px;
    left: 0px;
    width: 100%;
    filter: opacity(0.6);
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  .home-hero-content {
    gap: var(--dl-space-space-fiveunits);
    flex: 1;
    width: 100%;
    display: flex;
    z-index: 100;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .home-header-container {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .home-header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-heading {
    color: rgb(255, 255, 255);
    font-size: 50px;
    max-width: 790px;
    font-style: normal;
    font-weight: 500;
    font-family: JetBrains Mono;
  }
  .home-text02 {
    font-family: JetBrains Mono;
  }
  .home-text03 {
    font-family: JetBrains Mono;
  }
  .home-slide-titles {
    gap: var(--dl-space-space-threeunits);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-subtext {
    font-style: normal;
    font-family: JetBrains Mono;
    font-weight: 200;
  }
  .home-text08 {
    font-style: normal;
    font-family: JetBrains Mono;
    font-weight: 200;
  }
  .home-text11 {
    font-style: normal;
    font-family: JetBrains Mono;
    font-weight: 200;
  }
  .home-text12 {
    font-style: normal;
    font-family: JetBrains Mono;
    font-weight: 200;
  }
  .home-growth {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fiveunits);
    justify-content: space-between;
  }
  .home-content {
    gap: var(--dl-space-space-threeunits);
    flex: 1;
    display: flex;
    max-width: 640px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .home-header1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .home-header2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-heading1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
  }
  .home-text14 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 500;
  }
  .home-caption {
    color: #7C7C80;
    width: 100%;
    font-size: 24px;
    max-width: 560px;
    line-height: 36px;
  }
  .home-caption1 {
    color: rgb(124, 124, 128);
    width: 100%;
    font-size: 24px;
    max-width: 560px;
    line-height: 36px;
    border-color: #313133;
    padding-bottom: var(--dl-space-space-threeunits);
    border-bottom-width: 1px;
  }
  .home-testimonial {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .home-information {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-author {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: center;
    border-color: #7C7C80;
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    justify-content: center;
    border-right-width: 1px;
  }
  .home-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
  }
  .home-name {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 27px;
  }
  .home-images {
    flex: 1;
    display: flex;
    position: relative;
    align-items: flex-end;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-square {
    top: 64px;
    right: -35px;
    width: 180px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    aspect-ratio: 1;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #0000FF;
  }
  .home-image {
    width: 640px;
    z-index: 100;
    margin-top: var(--dl-space-space-sixunits);
    object-fit: cover;
  }
  .home-footer {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .home-content1 {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fiveunits);
    border-color: #313133;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    border-top-width: 1px;
  }
  .home-main {
    gap: 240px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-branding {
    gap: var(--dl-space-space-twounits);
    width: 400px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text16 {
    color: #7C7C80;
    line-height: 24px;
  }
  .home-text17 {
    color: var(--dl-color-gray-white);
    font-family: Noto Sans Mono;
    padding-top: var(--dl-space-space-twounits);
  }
  .home-links {
    gap: 120px;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-text18 {
    color: rgb(124, 124, 128);
    font-size: 14px;
    line-height: 21px;
  }
  .home-button {
    display: flex;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-fiveunits);
    border-radius: 0px;
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-image1 {
    width: 21px;
    object-fit: cover;
  }
  @media(max-width: 991px) {
    .home-navbar {
      left: var(--dl-space-space-oneandhalfunits);
    }
    .home-hero {
      padding-left: var(--dl-space-space-oneandhalfunits);
    }
    .home-hero-content {
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-growth {
      flex-direction: column-reverse;
    }
    .home-header1 {
      padding-top: var(--dl-space-space-oneandhalfunits);
    }
    .home-testimonial {
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-images {
      padding-top: 0px;
    }
    .home-square {
      top: -20px;
      right: -20px;
    }
    .home-image {
      margin-top: 0px;
    }
    .home-content1 {
      border-top-width: 0px;
    }
    .home-main {
      gap: var(--dl-space-space-threeunits);
      flex-direction: column;
    }
    .home-branding {
      width: 100%;
    }
  }
  @media(max-width: 767px) {
    .home-text {
      font-size: 30px;
    }
    .home-heading {
      font-size: 60px;
    }
    .home-slide-titles {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-growth {
      padding-top: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-content {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-header1 {
      gap: var(--dl-space-space-unit);
    }
    .home-heading1 {
      font-size: 40px;
    }
    .home-caption {
      font-size: 16px;
      line-height: 24px;
    }
    .home-caption1 {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-icon {
      width: 40px;
      height: 40px;
    }
    .home-name {
      font-size: 12px;
      line-height: 18px;
    }
    .home-image {
      width: 100%;
    }
    .home-footer {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-links {
      gap: var(--dl-space-space-fiveunits);
      flex-direction: row;
    }
  }
  @media(max-width: 479px) {
    .home-hero-content {
      gap: var(--dl-space-space-threeunits);
    }
    .home-header-container {
      display: flex;
      flex-wrap: wrap;
    }
    .home-heading {
      font-size: 36px;
    }
    .home-text05 {
      font-style: normal;
      font-family: JetBrains Mono;
      font-weight: 300;
    }
    .home-text08 {
      font-style: normal;
      font-family: JetBrains Mono;
      font-weight: 300;
    }
    .home-text11 {
      font-style: normal;
      font-family: JetBrains Mono;
      font-weight: 300;
    }
    .home-text12 {
      font-style: normal;
      font-family: JetBrains Mono;
      font-weight: 300;
    }
    .home-heading1 {
      font-size: 36px;
    }
    .home-links {
      gap: var(--dl-space-space-threeunits);
      flex-direction: column;
    }
    .home-bottom {
      gap: var(--dl-space-space-twounits);
      flex-direction: column;
      justify-content: center;
    }
    .home-button {
      justify-content: center;
    }
  }
  